*,
html{
    margin: 0;
    padding: 0;
}

body{
    background-color: white
}

.container-navbar{}
.ul-navbar{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar{
    list-style-type: none;
    padding: 10px;
    margin: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.li-navbar:hover{
    background-color: burlywood;
    transition: .5s ease-in-out;
    transition-delay: .1s;
    border-radius: 5px;
}
.a-navbar{
    color: black;
    text-decoration: none;
}
.img-navbar{
    width: 5%;
    height: 50%;
}
.container-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-about{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.p-about{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    word-spacing: 3px;
}
.img-content{
    width: 25%;
    height: 25%;
    padding: 10px;
    margin: 2px;
}

.container-footer{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer{
    font-size: 12px;
}